---
# Mastodon discovery via OASIS Open
# https://guide.toot.as/guide/use-your-own-domain/#well-knownhost-meta
permalink: /.well-known/host-meta
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0">
  <Link rel="lrdd" template="https://{{ meta.meta_data.mastodonDomain }}/.well-known/webfinger?resource=acct:{{ meta.meta_data.mastodonUser }}@{{ meta.meta_data.mastodonDomain }}" />
</XRD>