---
# Mastodon discovery via Diaspora
permalink: /.well-known/nodeinfo
# https://guide.toot.as/guide/use-your-own-domain/#well-knownnodeinfo
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
    "links": [
        {
            "rel": "http://nodeinfo.diaspora.software/ns/schema/2.0",
            "href": "https://{{ meta.meta_data.mastodonDomain }}/nodeinfo/2.0"
        }
    ]
}