---
title: "Tags"
permalink: /tags/index.html
description: "All the tags in use here on Eric's digital ranch."
layout: page
tags:
	- pages
---
<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tag/{{ tag | slug }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>