---
# http://humanstxt.org/
permalink: /humans.txt
layout: null
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
# humanstxt.org/
# The humans responsible & technology colophon

/* TEAM */
    Developer: {{ meta.author }}
    Contact: {{ meta.url }}/contact/
    Site: {{ meta.authorWebsite }}
    {% if meta.meta_data.mastodonCreator %}
    Mastodon: {{ meta.meta_data.mastodonCreator }}{% endif %}

/* THANKS */

    Zach Leatherman https://www.zachleat.com
    Andy Bell https://andy-bell.co.uk
    Lene Saile https://www.lenesaile.com/en/


/* SITE */
    Last update: {{ page.date.toISOString() }}
    Doctype: HTML5
    Software: 11ty