---
# https://securitytxt.org
permalink: /pgp-key.txt
layout: null
eleventyExcludeFromCollections: true
---

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.55
Comment: https://keybase.io/crypto

yMIlAnicrZJbSBRRGMfXNG8kJD5EZARTmdiynpk5Zy4bmXaBhKzsthDSdubMmXW8
7Gwz46ZJkFFRb7bRRcgi8CGCKJKgq6YUlGZJBJVIbuZDhmgRFRhdznR5qsfOy8c5
3+/7n//38d3NSfVlp2zYeCvv/MM1iZT+nvYGX6hj+Fgzp1l6Exds5mrpz0DrdOq4
4VpT54Ic4AFvIChomKoSQJjIEBNdVKkMJUokSUMiNYiIeWSIqo6BCilFGAGsKyLC
GCrI0ADm/JxhRiPUjtlm1GWyWEGqyiMJC4aIBFEGSDJUJOgykZEo8ljHKuQpD1hh
teV4Fcychh0aMC32xi7hn/b+wf9n3w2/5AwKZQQIloAgiwAoGlQ0BVEWBKzxqgc6
1I7iespoSmzLcVzaiB1ur59jibhJqDdbr5m/oQCx6plCzLZci1h1LFnturGgV+s2
xTx4N9XCv2XCmhnV2TBZQZzajmlFuSDPSOKani4PZQAFgZdEP0cbY6ZNw6ZHIFlS
ADveNzTOJAkgCqSYzQkSLMpQh7qhS5hXJSggIkqipkjIEBQqGApEgAGKDomhEo0g
ReEJ5zW2K2oxbYH5xBGm6ZiRKHYbbMrt7b1TleZLyfalz5zhbZkvO2v2n907dS3T
N1CSX/nkwNEF0slQcuGJi+9inacL44WxC9/yhIJ5Bz/vHt2/KKUqafpK33/PHU7r
KBp7fqSyfvJx4tN95U3qtdyW9VMZO/zTM5bfuDpnoDvZmiRfJ+amz6+gG9TxQNrb
prNt+csaeiZfzz7ekrMpefXwuUcFT0dGF/RNrBghtGZRaaI8I9F7CK29VLB1Z4UG
i5YPrTxT+GpbbPOLtsBAze3QVHxqy+Kh+PXc/u1LrnRNdLfserCnYvXhjsGSy2P7
ioB9YH1nKJmVU3wza9b42VX+nK7+U4MfJsq0iiXT7S9Xvy9Z94wDjerHtkRxRO6j
mdL00tbyL+WRzsXL+NayQPu9sh9XckGq
=TEfU
-----END PGP MESSAGE-----