---
# https://securitytxt.org
permalink: /.well-known/security.txt
layout: null
eleventyExcludeFromCollections: true
---
# https://securitytxt.org
# A proposed standard which allows websites to define security policies.

# Canonical URL
Canonical: {{ meta.url }}/.well-known/security.txt

# Our security address
Contact: {{ meta.url }}/security-contact.html

# Our OpenPGP key
Encryption: {{ meta.url }}/pgp-key.txt

# Our security policy
Policy: {{ meta.url }}/security-policy.html

# Our security acknowledgments page
Acknowledgments: {{ meta.url }}/hall-of-fame.html