{% if tags %}
<section 
  class="wrapper flow content region | blog tags"
  style="--region-space-top: var(--space-xl)"
>
  <div class="flow">
    <p class="visually-hidden" id="tags-desc">Tags:</p>
    <ul class="tags-list" aria-describedby="tags-desc">
      {% for tag in tags %}
        <li>
          <a href="/tag/{{ tag | slug }}/">#{{ tag | replace(' ', '') }}</a>
        </li>
      {% endfor %}
    </ul>
      </div>
</section>
  {% endif %}